<h1 class=<%= crime_type %>><%= primary_type %> - <%= description %></h1>
<p><i><%= typeof location_description !== 'undefined' ? location_description : '' %></i></p>

Arrest? 
<% if(arrest == 'true' || arrest == true){ %> 
    <i class='fa fa-check'></i>
    Yes
<% } else { %> 
    <i class='fa fa-times'></i>
    No
<% } %> 
<br />
Domestic?
<% if(domestic == 'true' || domestic == true){ %> 
    <i class='fa fa-check'></i>
    Yes
<% } else { %> 
    <i class='fa fa-times'></i>
    No
<% } %>
<hr />
<p><i class="glyphicon glyphicon-time"></i> <%= moment(orig_date).format('dddd MMM D, YYYY h:mma') %></p>
<p>
<i class="glyphicon glyphicon-map-marker"></i>
<%= block %><br />
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Community</th>
            <th>Ward</th>
            <th>Beat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= community_area %></td>
            <td><%= typeof ward !== 'undefined' ? ward : '' %></td>
            <td><%= typeof beat !== 'undefined' ? beat : '' %></td>
        </tr>
    </tbody>
</table>
