<h1 class=<%= crime_type %>><%= primary_type %> - <%= description %></h1>
Arrest? 
<% if(arrest == 'true' || arrest == true){ %> 
    Yes
<% } else { %> 
    No
<% } %> 
|
Domestic?
<% if(domestic == 'true' || domestic == true){ %> 
    Yes
<% } else { %> 
    No
<% } %>
<hr />
<p><%= moment(orig_date).format('dddd MMM D, YYYY h:mma') %></p>
<p>
<%= block %><br />
<%= typeof location_description !== 'undefined' ? location_description : '' %>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ward</th>
            <th>Beat</th>
            <th>Community</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= typeof ward !== 'undefined' ? ward : '' %></td>
            <td><%= typeof beat !== 'undefined' ? beat : '' %></td>
            <td><%= community_area %></td>
        </tr>
    </tbody>
</table>
