<strong class=<%= crime_type %>><%= primary_type %> - <%= description %></strong>
<p>
    <i class="fa fa-calendar"></i> <%= moment(orig_date).format('dddd MMM D, YYYY') %><br />
    <i class="fa fa-clock-o"></i> <%= moment(orig_date).format('h:mma') %>
</p>
<table class="table table-bordered">
    <tbody>
        <tr>
            <td>
                Arrest? 
                <% if(arrest == 'true' || arrest == true){ %> 
                    <i class='fa fa-check'></i>
                    Yes
                <% } else { %> 
                    <i class='fa fa-times'></i>
                    No
                <% } %> 
            </td>
            <td>
                Domestic?
                <% if(domestic == 'true' || domestic == true){ %> 
                    <i class='fa fa-check'></i>
                    Yes
                <% } else { %> 
                    <i class='fa fa-times'></i>
                    No
                <% } %>
            </td>
        </tr>
    </tbody>
</table>
<p>
<i class="fa fa-map-marker"></i>
<strong><%= block %></strong><br />
<em><%= typeof location_description !== 'undefined' ? location_description : '' %></em>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Community</th>
            <th>Ward</th>
            <th>Police beat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= typeof community_area_name !== 'undefined' ? community_area_name : '' %></td>
            <td><%= typeof ward !== 'undefined' ? ward : '' %></td>
            <td><%= typeof beat !== 'undefined' ? beat : '' %></td>
        </tr>
    </tbody>
</table>
